/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  background-color: black;
}

.menu {
  padding-top: 10px;
  background-color: rgb(25, 25, 25);

}


/* fuente externa para header */

@font-face {
  font-family: 'Microgramma';
  src: url(../fonts/Microgramma.ttf) format(truetype);
}

/* header */

header .links-header{
  background-color: rgb(25, 25, 25);
  top: 0px;
  position: sticky;
}


header nav div {
  display: flex;
  list-style: none;
  color: aliceblue;
}



header nav div ul li {
  display: flex;
  list-style: none;
  font-size: 15px;
  font-weight: bolder;
}

header nav .links-header ul li a{
  display: flex;
}



header nav div ul li a {
  text-decoration: none;
  color: aliceblue;
  font-family: 'Microgramma', sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;

}

/* Main */
main {
  display: flex;
  flex-direction: column;
}

main .foto-main img{
  display: flex;
  justify-content: center;
  width: 100%;
}

main .fotos-intro{
  display: flex;
}


main .fotos-intro .columna-uno {
  display: flex;
}

main .fotos-intro .columna-dos {
  display: flex;
}



main div h3 img {
  margin-top: 10px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}



/* Agrupacion de imagenes y estilos */

.BOX-one {
  height: 200vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.BOX-two {
  height: 200vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 15px;
}




/* Estilos de texto */
h1 {
  padding: 15px;
  font-size: 35px;
  color: blanchedalmond;
  font-family: 'Geologica', sans-serif;
}

h3 {
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 180, 222);
}

p {
  text-align: center;
  padding: 30px;
  color: rgb(219, 226, 232);
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

h4 {
  padding: 50px;
}

/* Formulario */
form {
  padding: 50px;
  max-width: 1000px;
  background-color: rgb(0, 0, 0);
}

form input,
form textarea {
  width: 100%;
}

form #enviar {
  background-color: rgb(255, 255, 255);
  font-size: 30px;
}

.formulario {
  margin-top: 150px;
  height: 70vh;
}

/* media querys */

@media screen and (min-width:1024px){
  main .fotos-intro {
    background-color: tomato;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto ;

    grid-template-areas:
    "TORRE RESTO BENITO"
    "MONEY WATERMELON GATO";
    padding: 10px;
    align-items: center;
    gap: 1rem;
  }

  main .fotos-intro .WATERMELON{
    grid-area: WATERMELON;
  }

  main .fotos-intro .TORRE{
    grid-area: TORRE;
  }

  main .fotos-intro .BENITO{
    grid-area: BENITO;
  }

  main .fotos-intro .MONEY{
    grid-area: MONEY;
  }

  main .fotos-intro .RESTO{
    grid-area: RESTO;
  }

  main .fotos-intro .GATO{
    grid-area: GATO;
  }


  
}

/* Footer */
footer {
  left: 0;
  bottom: 0;
  margin: 5rem;
  text-align: center;
  color: aliceblue;
  background-color: black;
}

footer h2 {
  padding: 20px;
}