//inicio de reset 

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "html/index";

body {
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
}





// Main
main {
  .foto-main img {
    justify-content: center;
    width: 100%;
  }

  div h3 img {
    margin-top: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
  }

  // Agrupacion de imagenes y estilos
  .BOX-one {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .BOX-two {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  // Estilos de texto
  h1 {
    text-align: center;
    padding: 15px;
    font-size: 35px;
    color: blanchedalmond;
    font-family: 'Geologica', sans-serif;
  }

  p {
    text-align: center;
    padding: 30px;
    color: rgb(219, 226, 232);
    font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
  }

  h4 {
    padding: 50px;
  }

  // Formulario
  form {
    padding: 50px;
    max-width: 1000px;
    background-color: rgb(0, 0, 0);

    input,
    textarea {
      width: 100%;
    }

    #enviar {
      background-color: rgb(255, 255, 255);
      font-size: 30px;
    }
  }

  .formulario {
    margin-top: 150px;
    height: 70vh;
  }
}


@import "html/index";
// MEDIA QUERIES

// media query para celular




// pagina vision
h2 {
  color: darkgrey;
  text-align: center;
  margin-top: 15px;
}

.galaxia img {
  justify-content: center;
  width: 100%;
  padding: 15px;
}

.BOX-one img {
  display: grid;
  padding: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-template-columns: repeat(3, 1fr);
}

.BOX-two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}



/*media query para computadora */
@media screen and (min-width: 1024px) and (max-width: 1200px) {



  /* pagina vision */
  h2 {
    color: darkgrey;
    text-align: center;
    margin-top: 15px;
  }

  .galaxia img {
    justify-content: center;
    width: 100%;
    padding: 15px;
  }

  .BOX-one {
    img {
      display: grid;
      padding: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      grid-template-columns: repeat(3, 1fr);
    }
  }


  .BOX-two {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: grid;
      padding: 20px;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }
  }
}



/* Footer */
footer {
  left: 0;
  bottom: 0;
  margin: 5rem;
  text-align: center;
  color: aliceblue;
  background-color: black;

  h2 {
    padding: 20px;
  }

}